<h1>New Vehicle</h1>
{{ vehicle | json }}
<form #f="ngForm" (ngSubmit)="submit()" novalidate>
  <div class="form-group">
    <label for="make">Make</label>
    <select id="make" class="form-control" (change)="onMakeChange()" [(ngModel)]="vehicle.makeId" name="make" required #make="ngModel" required>
      <option value=""></option>
      <option *ngFor="let m of makes" value="{{ m.id }}" name="makeId">{{ m.name }}</option>
    </select>
    <div class="alert alert-danger" *ngIf="make.touched && !make.valid">Please specify the make</div>
  </div>

  <div class="form-group">
    <label for="model">Model</label>
    <select id="model" class="form-control" [(ngModel)]="vehicle.modelId" name="model" required #model="ngModel" required>
    <option *ngFor="let m of models" value="{{ m.id }}" name="modelId">{{ m. name }}</option>
    </select>
    <div class="alert alert-danger" *ngIf="model.touched && !model.valid">Please select a model</div>
  </div>
  <p>Is this vehicle registered?</p>

    <label for="registered" class="radio-inline"> 
      <input type="radio" name="isRegistered" id="registered" [value]="true" [(ngModel)]="vehicle.isRegistered" name="registered"> Yes
    </label>
      <label for="notRegistered" class="radio-inline">
          <input type="radio" name="isRegistered" id="notRegistered" [value]="false" [(ngModel)]="vehicle.isRegistered" name="notRegistered"> No
      </label>

  <h2>Features</h2>
  <div *ngFor="let f of features" class="checkbox">
    <label for="feature{{ f.id }}">
      <input type="checkbox" id="feature{{ f.id }}" (change)="onFeatureToggle(f.id, $event)" name="feature{{ f.id }}" [checked]="vehicle.features.includes(f.id)">{{ f.name }}</label>
    </div>
    <h2>Contact</h2>
    <div class="form-group">
      <label for="contactName">Name</label>
      <input id="contactName" type="text" class="form-control" [(ngModel)]="vehicle.contact.name" name="contactName" #contactName="ngModel" required>
      <div class="alert alert-danger" *ngIf="contactName.touched && !contactName.valid">Please fill in your name</div>
    </div>
    <div class="form-group">
      <label for="phone"></label>
      <input id="phone" type="text" class="form-control" [(ngModel)]="vehicle.contact.phone" name="contactPhone" #contactPhone="ngModel" required>
      <div class="alert alert-danger" *ngIf="contactPhone.touched && !contactPhone.valid">Please fill in your phone</div>
    </div>
    <div class="form-group">
      <label for="contactEmail"></label>
      <input id="contactEmail" type="text" class="form-control" [(ngModel)]="vehicle.contact.email" name="contactEmail" #contactEmail="ngModel" required>
      <div class="alert alert-danger" *ngIf="contactEmail.touched && !contactEmail.valid">Please fill in your email</div>
    </div>
    <button class="btn btn-primary"  [disabled]="!f.valid">Save</button>
    <button *ngIf="vehicle.id" class="btn btn-danger"  type="button" (click)=delete()>Delete</button>
</form>